<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>must use location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>must use location</string>
	<key>UIAppFonts</key>
	<array>
		<string>GroovyBeach-Extrude</string>
		<string></string>
	</array>
</dict>
</plist>
